Repository nissl-lab/npoi, pull requests merged in 2024-09, with the labels that each got.

#1414 Upgrade to NUKE 8.1
  .github/workflows/CI.yml
  .github/workflows/PR.yml
  .nuke/build.schema.json
  Directory.Packages.props
  build/Build.GitHubAction.cs
  build/_build.csproj
Labels: cicd

#1286 Backport commits that fix rate function giving incorrect results
  main/SS/Formula/Functions/Rate.cs
  testcases/main/SS/Util/Utils.cs
  testcases/ooxml/SS/Formula/Functions/TestRate.cs
Labels: bug, xlsx, formula

#1346 Added support for \n in text elements
  OpenXmlFormats/Wordprocessing/wml.cs
  testcases/ooxml/XWPF/UserModel/TestXWPFDocument.cs
  testcases/test-data/document/WordReplaceCRLF.docx
Labels: bug, docx

#1376 fixing a type error
  main/HSSF/Record/TextObjectRecord.cs
  testcases/ooxml/SS/Converter/TestExcelToHtmlConverterSuite.cs
  testcases/test-data/spreadsheet/clusterfuzz-testcase-minimized-POIHSSFFuzzer-6322470200934400.xls
Labels: bug

#805 bugfix: ExcelToHtmlConverter throw exception when cell has background…
  main/SS/UserModel/IndexedColors.cs
  ooxml/SS/Converter/ExcelToHtmlConverter.cs
  testcases/ooxml/SS/Converter/TestExcelToHtmlConverterSuite.cs
  testcases/test-data/spreadsheet/background_color.xlsx
Labels: bug, xlsx
