Repository nissl-lab/npoi, pull requests merged in 2024-05, with the labels that each got.

#1310 Fix ROUNDDOWN function
  main/NPOI.Core.csproj
  main/SS/Formula/Functions/MathX.cs
  testcases/main/SS/Formula/Functions/TestMathX.cs
Labels: xls, xlsx, formula

#1287 [POI-Bug-67475] Better support for edge cases in TEXT function.
  main/SS/Formula/Eval/OperandResolver.cs
  main/SS/Formula/Eval/StringEval.cs
  main/SS/Formula/Functions/Text/Exact.cs
  main/SS/Formula/Functions/Text/Text.cs
  main/SS/Formula/Functions/Text/TextFunction.cs
  main/SS/UserModel/DataFormatter.cs
  testcases/main/SS/Formula/Functions/TestText.cs
Labels: xls, xlsx, formula

#1325 Do not include xfId in CellStyleXfs XML
  OpenXmlFormats/Spreadsheet/Styles/CT_CellStyleXfs.cs
  OpenXmlFormats/Spreadsheet/Styles/CT_Xf.cs
Labels: bug, file_error, xlsx

#1282 [Bug 68237] CustomHeight attribute of row for SXSSFWorkbook is wrong
  ooxml/XSSF/Streaming/SheetDataWriter.cs
  testcases/ooxml/XSSF/Streaming/SheetDataWriterTests.cs
Labels: bug, sxssf, xlsx

#1269 fix : Make Free Form coordinates closer to the original
  ooxml/XSSF/UserModel/XSSFDrawing.cs
  ooxml/XSSF/UserModel/XSSFFreeform.cs
  ooxml/XSSF/UserModel/XSSFShapeGroup.cs
  testcases/ooxml/XSSF/UserModel/TestXSSFShape.cs
Labels: enhancement, drawing, xlsx

#1335 Implement Cell function
  main/SS/Formula/Eval/FunctionEval.cs
  main/SS/Formula/Functions/Cell.cs
  testcases/main/SS/Formula/Functions/TestRowCol.cs
Labels: xls, xlsx, formula

#1341 Implement Concat Function
  main/SS/Formula/Atp/AnalysisToolPak.cs
  main/SS/Formula/Functions/Text/Concat.cs
  main/SS/Formula/Functions/Text/TextFunction.cs
  testcases/main/SS/Formula/Atp/TestConcat.cs
Labels: enhancement, formula

#1336 Expose Package Readonly argument for XSSFWorkbook constructor
  ooxml/POIXMLDocument.cs
  ooxml/SS/UserModel/WorkbookFactory.cs
  ooxml/Util/PackageHelper.cs
  ooxml/XSSF/UserModel/XSSFWorkbook.cs
  openxml4Net/OPC/OPCPackage.cs
Labels: enhancement, performance

#1324 Implement forecast function
  build/_build.csproj.DotSettings
  main/SS/Formula/Eval/FunctionEval.cs
  main/SS/Formula/Functions/Forecast.cs
  testcases/main/SS/Formula/Functions/TestForecast.cs
  testcases/test-data/spreadsheet/Forecast.xls
Labels: xls, xlsx, formula

#1345 Implement T.INV Function
  main/SS/Formula/Atp/AnalysisToolPak.cs
  main/SS/Formula/Functions/TInv.cs
  testcases/main/SS/Formula/Functions/TestTInv.cs
Labels: xls, xlsx, formula

#1342 More patches ported from poi 3.16
  main/HSSF/Record/CFHeaderBase.cs
  main/HSSF/Record/DVRecord.cs
  main/HSSF/UserModel/HSSFCellStyle.cs
  main/HSSF/UserModel/HSSFConditionalFormatting.cs
  main/HSSF/UserModel/HSSFDataValidation.cs
  main/HSSF/UserModel/HSSFWorkbook.cs
  main/POIFS/FileSystem/EntryUtils.cs
  main/SS/Formula/FormulaShifter.cs
  main/SS/UserModel/CellStyle.cs
  main/SS/UserModel/ConditionalFormatting.cs
  ooxml/XSSF/Model/StylesTable.cs
  ooxml/XSSF/Streaming/SXSSFCell.cs
  ooxml/XSSF/UserModel/XSSFCellStyle.cs
  ooxml/XSSF/UserModel/XSSFConditionalFormatting.cs
  ooxml/XSSF/UserModel/XSSFDataFormat.cs
  ooxml/XSSF/UserModel/XSSFDataValidation.cs
  ooxml/XSSF/UserModel/XSSFHyperlink.cs
  testcases/main/HSSF/UserModel/TestHSSFConditionalFormatting.cs
  testcases/main/SS/UserModel/BaseTestBugzillaIssues.cs
  testcases/main/SS/UserModel/BaseTestConditionalFormatting.cs
  testcases/ooxml/XSSF/Model/TestStylesTable.cs
  testcases/ooxml/XSSF/UserModel/TestXSSFConditionalFormatting.cs
  testcases/ooxml/XSSF/UserModel/TestXSSFWorkbook.cs
Labels: enhancement
