Repository nissl-lab/npoi, pull requests merged in 2024-04, with the labels that each got.

#1291 CT_CellFormula.Write: fix writing the si attribute
  OpenXmlFormats/Spreadsheet/Sheet.cs
Labels: xlsx, formula

#1283 [github-164] Fix Bug in XSSFTable.setCellReferences when table is single cell.
  ooxml/XSSF/UserModel/XSSFTable.cs
  testcases/ooxml/XSSF/UserModel/TestXSSFTable.cs
  testcases/test-data/spreadsheet/SingleCellTable.xlsx
Labels: bug, xlsx

#1313 Update SharpZipLib to v1.4.2
  main/NPOI.Core.csproj
Labels: enhancement

#1262 Add RemoveDataValidation method
  OpenXmlFormats/Spreadsheet/Sheet.cs
  main/HSSF/Record/Aggregates/DataValidityTable.cs
  main/HSSF/Record/DVRecord.cs
  main/HSSF/UserModel/HSSFSheet.cs
  main/SS/UserModel/Sheet.cs
  ooxml/XSSF/Streaming/SXSSFSheet.cs
  ooxml/XSSF/UserModel/XSSFSheet.cs
  testcases/main/HSSF/UserModel/TestDataValidation.cs
  testcases/ooxml/XSSF/UserModel/TestXSSFDataValidation.cs
Labels: enhancement, xlsx

#1307 Fix reading document variables
  OpenXmlFormats/Wordprocessing/Document.cs
  OpenXmlFormats/Wordprocessing/Settings.cs
  testcases/ooxml/XWPF/UserModel/TestXWPFDocument.cs
  testcases/test-data/document/docVars.docx
Labels: bug, docx

#1281 [Bug 67785] Make XSSFExcelExtractor output more like that from XSSFEventBasedExcelExtractor
  main/SS/UserModel/DataFormatter.cs
  ooxml/XSSF/Extractor/XSSFExcelExtractor.cs
  testcases/ooxml/XSSF/Extractor/TestXSSFExcelExtractor.cs
  testcases/test-data/spreadsheet/bug67784.xlsx
Labels: enhancement, xlsx

#1303 XLS - Fix adding cell comment
  main/HSSF/Record/EscherAggregate.cs
  testcases/main/HSSF/UserModel/TestHSSFComment.cs
  testcases/test-data/spreadsheet/test_FailAddingComment.xls
Labels: bug, xls

#1284 Opening existing workbook with pictures, adding new ones and saving it should not throw an exception
  OpenXmlFormats/Vml/OfficeDrawing.cs
  testcases/ooxml/XSSF/UserModel/TestXSSFWorkbook.cs
  testcases/test-data/spreadsheet/Issue1252.xlsx
Labels: bug, drawing, xlsx

#1132 Fix TempFile usage while temp dir was deleted in same process
  main/Util/TempFile.cs
  ooxml/XSSF/Streaming/SheetDataWriter.cs
  testcases/main/RunSerialyAndSweepTmpFilesAttribute.cs
  testcases/main/Util/TestTempFile.cs
  testcases/ooxml/XSSF/Streaming/GZIPSheetDataWriterTests.cs
  testcases/ooxml/XSSF/Streaming/SXSSFWorkbookTests.cs
  testcases/ooxml/XSSF/Streaming/SheetDataWriterTests.cs
  testcases/ooxml/XSSF/Streaming/TestSXSSFWorkbook.cs
  testcases/ooxml/XSSF/UserModel/TestXSSFBugs.cs
  testcases/ooxml/XSSF/UserModel/TestXSSFWorkbook.cs
  testcases/openxml4net/OPC/Compliance/TestOPCComplianceCoreProperties.cs
  testcases/openxml4net/TestPackage.cs
Labels: bug
