Repository nissl-lab/npoi, pull requests merged in 2025-01, with the labels that each got.

#1461 POI Bug #56822 fix COUNTIFS()
  main/SS/Formula/Atp/Maxifs.cs
  main/SS/Formula/Atp/MinIfs.cs
  main/SS/Formula/Functions/Baseifs.cs
  main/SS/Formula/Functions/Countif.cs
  main/SS/Formula/Functions/Countifs.cs
  main/SS/Formula/Functions/Maxifs.cs
  main/SS/Formula/Functions/Minifs.cs
  main/SS/Formula/Functions/Sumifs.cs
  main/SS/Util/SheetUtil.cs
  testcases/main/SS/Formula/Atp/TestMaxIfs.cs
  testcases/main/SS/Formula/Functions/TestMaxIfs.cs
  testcases/main/SS/Formula/Functions/TestMinifs.cs
  testcases/ooxml/SS/Formula/Functions/TestCountifs.cs
  testcases/ooxml/SS/Formula/Functions/TestSumifsXSSF.cs
  testcases/test-data/spreadsheet/56822-Countifs.xlsx
  testcases/test-data/spreadsheet/bug60858.xlsx
Labels: bug, poi

#1463 Some patches from poi 3.16
  main/HPSF/PropertySet.cs
  main/HSSF/Record/CFRule12Record.cs
  main/HSSF/Record/ObjRecord.cs
  main/HSSF/Record/SubRecord/SubRecord.cs
  main/HSSF/UserModel/HSSFCell.cs
  main/POIFS/FileSystem/NDocumentInputStream.cs
  main/SS/Formula/Functions/WeekNum.cs
  openxml4Net/OPC/PackageRelationshipCollection.cs
  testcases/main/Util/TestLittleEndian.cs
  testcases/ooxml/XSSF/TestXSSFCloneSheet.cs
  testcases/ooxml/XSSF/UserModel/TestXSSFDrawing.cs
  testcases/openxml4net/TestZipPackage.cs
Labels: bug, poi

#1464 Poi bug 51519 and 45353
  testcases/main/HSSF/UserModel/TestBugs.cs
  testcases/ooxml/XSSF/Extractor/TestXSSFExcelExtractor.cs
  testcases/test-data/spreadsheet/51519.xlsx
  testcases/test-data/spreadsheet/named-cell-in-formula-test.xls
  testcases/test-data/spreadsheet/named-cell-test.xls
Labels: bug, xlsx

#1482 Upgrade to NUKE 9 and replace obsolete NET 6 targets with NET 8
  .nuke/build.schema.json
  OpenXmlFormats/NPOI.OpenXmlFormats.Core.csproj
  benchmarks/NPOI.Benchmarks/NPOI.Benchmarks.csproj
  build/Build.cs
  build/_build.csproj
  main/NPOI.Core.csproj
  ooxml/NPOI.OOXML.Core.csproj
  openxml4Net/NPOI.OpenXml4Net.Core.csproj
  solution/NPOI.Pack.csproj
Labels: cicd
