Repository nissl-lab/npoi, pull requests merged in 2025-07, with the labels that each got.

#1595 Patches from poi v3.17
  main/HSSF/Record/HeaderFooterBase.cs
  main/HSSF/Record/WriteProtectRecord.cs
  main/POIFS/FileSystem/NDocumentInputStream.cs
  main/POIFS/FileSystem/ODocumentInputStream.cs
  main/SS/Formula/DataValidationEvaluator.cs
  main/SS/Formula/WorkbookEvaluator.cs
  main/Util/DocumentFormatException.cs
  main/Util/IOUtils.cs
  main/Util/RecordFormatException.cs
  ooxml/Util/PackageHelper.cs
  ooxml/XSSF/Util/EvilUnclosedBRFixingInputStream.cs
  ooxml/XWPF/Usermodel/XWPFRelation.cs
  openxml4Net/OPC/Internal/PackagePropertiesPart.cs
  openxml4Net/OPC/OPCPackage.cs
  openxml4Net/OPC/PackageProperties.cs
  testcases/main/HSSF/UserModel/TestBugs.cs
  testcases/main/HSSF/UserModel/TestPOIFSProperties.cs
  testcases/ooxml/XSSF/UserModel/TestXSSFDataValidation.cs
  testcases/openxml4net/TestPackageCoreProperties.cs
  testcases/openxml4net/TestRelationships.cs
  testcases/test-data/spreadsheet/61287.xls
  testcases/test-data/spreadsheet/61300.xls
  testcases/test-data/spreadsheet/dataValidationTableRange.xlsx
Labels: bug, poi

#1587 Ensure SpreadsheetVersion is set for AreaReferences
  main/HSSF/UserModel/EscherGraphics.cs
  main/HSSF/UserModel/HSSFCreationHelper.cs
  main/HSSF/UserModel/HSSFFont.cs
  main/HSSF/UserModel/HSSFRow.cs
  main/HSSF/UserModel/HSSFSheet.cs
  main/HSSF/UserModel/HSSFWorkbook.cs
  main/HSSF/Util/HSSFCellUtil.cs
  main/HSSF/Util/HSSFRegionUtil.cs
  main/SS/Formula/FormulaParser.cs
  main/SS/Formula/OperandClassTransformer.cs
  main/SS/Formula/PTG/Area3DPtg.cs
  main/SS/Formula/PTG/Area3DPxg.cs
  main/SS/Formula/PTG/AreaPtg.cs
  main/SS/Formula/PTG/AreaPtgBase.cs
  main/SS/UserModel/CreationHelper.cs
  main/SS/UserModel/Font.cs
  main/SS/UserModel/Sheet.cs
  main/SS/UserModel/Workbook.cs
  main/SS/Util/AreaReference.cs
  main/SS/Util/CellUtil.cs
  ooxml/SS/Converter/ExcelToHtmlConverter.cs
  ooxml/XSSF/Model/StylesTable.cs
  ooxml/XSSF/Streaming/SXSSFCreationHelper.cs
  ooxml/XSSF/Streaming/SXSSFRow.cs
  ooxml/XSSF/Streaming/SXSSFSheet.cs
  ooxml/XSSF/Streaming/SXSSFWorkbook.cs
  ooxml/XSSF/UserModel/XSSFCreationHelper.cs
  ooxml/XSSF/UserModel/XSSFDialogsheet.cs
  ooxml/XSSF/UserModel/XSSFFont.cs
  ooxml/XSSF/UserModel/XSSFName.cs
  ooxml/XSSF/UserModel/XSSFPivotCacheDefinition.cs
  ooxml/XSSF/UserModel/XSSFPivotTable.cs
  ooxml/XSSF/UserModel/XSSFSheet.cs
  ooxml/XSSF/UserModel/XSSFWorkbook.cs
  openxml4Net/OPC/StreamHelper.cs
  testcases/main/HSSF/UserModel/TestBugs.cs
  testcases/main/HSSF/UserModel/TestCellStyle.cs
  testcases/main/HSSF/UserModel/TestHSSFName.cs
  testcases/main/HSSF/UserModel/TestHSSFOptimiser.cs
  testcases/main/HSSF/UserModel/TestRowStyle.cs
  testcases/main/HSSF/Util/TestAreaReference.cs
  testcases/main/SS/Formula/Eval/TestRangeEval.cs
  testcases/main/SS/UserModel/BaseTestNamedRange.cs
  testcases/main/SS/Util/BaseTestCellUtil.cs
  testcases/main/SS/Util/TestAreaReference.cs
  testcases/ooxml/SS/Formula/TestStructuredReferences.cs
  testcases/ooxml/XSSF/UserModel/BaseTestXSSFPivotTable.cs
  testcases/ooxml/XSSF/UserModel/TestUnfixedBugs.cs
  testcases/ooxml/XSSF/UserModel/TestXSSFBugs.cs
  testcases/ooxml/XSSF/UserModel/TestXSSFCellStyle.cs
  testcases/ooxml/XSSF/UserModel/TestXSSFChartSheet.cs
  testcases/ooxml/XSSF/UserModel/TestXSSFPivotTableRef.cs
  testcases/ooxml/XSSF/UserModel/TestXSSFSheet.cs
  testcases/ooxml/XSSF/UserModel/TestXSSFTable.cs
  testcases/ooxml/XSSF/UserModel/TestXSSFWorkbook.cs
Labels: bug, poi

#1601 POI bug 61470 and 61381
  main/POIFS/FileSystem/DocumentFactoryHelper.cs
  main/POIFS/FileSystem/FileMagic.cs
  main/POIFS/FileSystem/NPOIFSFileSystem.cs
  main/POIFS/FileSystem/OPOIFSFileSystem.cs
  main/POIFS/FileSystem/POIFSFileSystem.cs
  main/POIFS/Macros/VBAMacroReader.cs
  main/POIFS/Storage/HeaderBlock.cs
  main/Util/BufferedInputStream.cs
  main/Util/FileInputStream.cs
  main/Util/IOUtils.cs
  main/Util/RemovalAttribute.cs
  ooxml/SS/UserModel/WorkbookFactory.cs
  ooxml/XWPF/Extractor/XWPFWordExtractor.cs
  ooxml/XWPF/Usermodel/XWPFRun.cs
  openxml4Net/OPC/Internal/ZipHelper.cs
  openxml4Net/Util/ZipInputStreamZipEntrySource.cs
  openxml4Net/Util/ZipSecureFile.cs
  testcases/main/POIFS/FileSystem/TestOffice2007XMLException.cs
  testcases/ooxml/SS/TestWorkbookFactory.cs
  testcases/ooxml/TestDetectAsOOXML.cs
  testcases/ooxml/XSSF/UserModel/TestXSSFBugs.cs
  testcases/ooxml/XWPF/Extractor/TestXWPFWordExtractor.cs
  testcases/openxml4net/TestPackage.cs
  testcases/test-data/document/61470.docx
Labels: bug, poi

#1609 Fixes #1608, adds support for multiple alternate content sections
  OpenXmlFormats/Wordprocessing/Run.cs
Labels: bug, docx

#1612 Fixed export of chart separator value to xlsx
  OpenXmlFormats/Drawing/Chart/Chart.cs
Labels: bug, file_error, chart, xlsx

#1615 Call GetColumnHelper() to make sure columnHelper is initialized
  Directory.Packages.props
  ooxml/XSSF/UserModel/XSSFSheet.cs
Labels: bug, xlsx
